name: Build and Publish Image
 
on:
  push:
    branches:
      - main
 
env:
  IMAGE_REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}
 
permissions:
  contents: read
  packages: write
 
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
 
      - name: Set lowercase owner
        run: echo "GH_OWNER_LC=${GITHUB_REPOSITORY_OWNER,,}" >> $GITHUB_ENV
      - name: Set lowercase image name
        run: echo "IMAGE_NAME_LC=${IMAGE_NAME,,}" >> $GITHUB_ENV
 
      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ${{ env.IMAGE_REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
 
      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: ./svc-ai-vision-adapter/Dockerfile
          push: true
          build-args: |
            GH_OWNER=${{ env.GH_OWNER_LC }}
            GH_USER=${{ github.actor }}
            GH_TOKEN=${{ secrets.GITHUB_TOKEN }}
          tags: |
            ${{ env.IMAGE_REGISTRY }}/${{ env.IMAGE_NAME_LC }}:latest
            ${{ env.IMAGE_REGISTRY }}/${{ env.IMAGE_NAME_LC }}:${{ github.run_number }}